/*
 * Kathamo 2.0.0 (Stable)
 * Copyright 2014, Debashis Barman
 * https://github.com/debashisbarman/Kathamo/
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 15/12/2014
 */
 
/*@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);


/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul {list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

html, body { width: 100%; padding: 0; margin: 0 }


/* Basic Styles
================================================== */
html { margin: 0; padding: 0; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin:0; padding: 0; font-size: 15px; font-weight: normal; line-height: 1.618; color: #101010; letter-spacing: 0.618px; }

hr { border: none; outline: none; height: 1px; width: 100%; margin:5% 0; background: #f0f0f0; }


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 { font-weight: 300; margin: 0 auto 1.618% 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #c0c0c0; }

p { font-weight: 300; margin-bottom: 8px; }

small { font-size: 89%; }

strong, b { font-weight: 500; }
em, i { font-style: italic; }

u { text-decoration: none; border-bottom: 1px #333 solid; }

blockquote { font-weight: 300; margin: 13px auto 13px -8px; padding: 13px 21px; border-left: 5px solid #f0f0f0; }
blockquote cite { display: block; color: #555; margin-top: 8px; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

@media (min-width: 1024px) {

h1 { font-size: 50px; line-height: 1.2; }
h2 { font-size: 42px; line-height: 1.25; }
h3 { font-size: 36px; line-height: 1.3; }
h4 { font-size: 30px; line-height: 1.35; }
h5 { font-size: 24px; line-height: 1.5; }
h6 { font-size: 18px; line-height: 1.6; }

h1 small { font-size: 30.902348578px; }
h2 small { font-size: 25.957972806px; }
h3 small { font-size: 22.249690977px; }
h4 small { font-size: 18.541409147px; }
h5 small { font-size: 14.833127318px; }
h6 small { font-size: 11.124845488px; }

p { font-size: 15px; }

blockquote { font-size: 21px; }

blockquote cite { font-size: 13px; }
}

@media (min-width: 768px) and (max-width: 1023px){

h1 { font-size: 36px; line-height: 1.2; }
h2 { font-size: 30px; line-height: 1.25; }
h3 { font-size: 27px; line-height: 1.3; }
h4 { font-size: 24px; line-height: 1.35; }
h5 { font-size: 21px; line-height: 1.5; }
h6 { font-size: 18px; line-height: 1.6; }

h1 small { font-size: 22.249690977px; }
h2 small { font-size: 18.541409147px; }
h3 small { font-size: 16.687268232px; }
h4 small { font-size: 14.833127318px; }
h5 small { font-size: 12.978986403px; }
h6 small { font-size: 11.124845488px; }

p { font-size: 15px; }

blockquote { font-size: 18px; }

blockquote cite { font-size: 13px; }
}

@media (max-width: 767px) {

h1 { font-size: 30px; line-height: 1.2; }
h2 { font-size: 27px; line-height: 1.25; }
h3 { font-size: 24px; line-height: 1.3; }
h4 { font-size: 21px; line-height: 1.35; }
h5 { font-size: 18px; line-height: 1.5; }
h6 { font-size: 15px; line-height: 1.6; }

h1 small { font-size: 18.541409147px; }
h2 small { font-size: 16.687268232px; }
h3 small { font-size: 14.833127318px; }
h4 small { font-size: 12.978986403px; }
h5 small { font-size: 11.124845488px; }
h6 small { font-size: 9.270704574px; }

p { font-size: 13px; }

blockquote { font-size: 13px; }

blockquote cite { font-size: 8px; }
}


/* Anchor
================================================== */
a, a:visited { color: #5bc0ef; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #5bc0de; border-bottom: 1px solid #5bc0de; }
p a, p a:visited { line-height: inherit; }


/* Form
================================================== */
form { margin-bottom: 20px }
fieldset { margin-bottom: 20px }

input[type="text"], input[type="password"],
input[type="email"], input[type="search"],
textarea, select {
border: 1px solid #c0c0c0;
outline: none;
-moz-border-radius: 0.29296875em;
-webkit-border-radius: 0.29296875em;
border-radius: 0.29296875em;
font-family: sans-serif;
font-size: 15px;
font-weight: 300; 
letter-spacing: 0.618px;
display: inline-block;
background-color: #ffffff;
}

input[type="text"], input[type="password"],
input[type="email"], input[type="search"],
textarea, select { padding: 3%; width: 94%; }

textarea { padding: 1.618%; width: 96.764%; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus, select:focus { border: 1px solid #5bc0ef; color: #000000; }

textarea { min-height: 89px }

label,
legend { font-family: sans-serif; display: block; font-weight: 500; font-size: 15px; margin: 1.618% 0; }
label:after { content: ":"; }


input[type="checkbox"], input[type="radio"] { display: inline; }


/* Button
================================================== */
.btn {
display: inline-block;
min-width: 89px;
font-size: 13px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
text-decoration: none;
border: 1px solid silver;
border-radius: 0.29296875em;
padding: 1.26953125% 3.3203125%;
cursor: pointer;
whitespace: nowrap;
box-sizing: border-box;
}

@media (max-width: 767px) {
.btn { min-width: 144px; margin: 5px 0; padding: 8px; }
}

.btn.btn-default {
color: gray;
background-color: white;
}
.btn.btn-success {
color: white;
background-color: #5bc0ef;
border-color: #5bc0ef;
}
.btn.btn-danger {
color: white;
background-color: #d95330;
border-color: #d95330;
}

.btn.btn-default:hover {
border-color: #a0a0a0;
}
.btn.btn-success:hover {
background-color: #5bc0de;
border: 1px solid #5bc0de;
}
.btn.btn-danger:hover {
background-color: #d9534f;
border-color: #d9534f;
}


/* Code
================================================== */
code, pre { font-family: Menlo, Monaco, "Courier New", monospace }
code {
padding: 3px 5px;
margin: 0 .2rem;
font-size: 90%;
background: #fafafa;
border: 1px solid #c0c0c0;
border-radius: 4px;
white-space: nowrap; 
}
pre {
display: block;
margin: 1.618% 0; 
padding: 1.618%;
border: 1px solid #c0c0c0;
border-radius: 0.29296875em;
font-size: 13px;
line-height: 1.6;
white-space: pre;
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
background-color: #fafafa;
}
pre code {
padding: 0;
font-size: 100%;
color: inherit;
background-color: transparent;
}


/* List
================================================== */
ul, ol, dl { font-size: 15px; margin-bottom: 20px }
ul { list-style: none outside }
ol { list-style: decimal }
ol, dd, ul.li-square, ul.li-circle, ul.li-disc { margin-left: 30px }
ul.li-square { list-style: square outside }
ul.li-circle { list-style: circle outside }
ul.li-disc { list-style: disc outside }
ul.li-unstyled, ol.li-unstyled { margin-left: 0; padding-left:0; list-style: none outside }
dt { font-weight: 500; }
.li-inline li, .li-inline dt, .li-inline dd { margin-left: 0; margin-right: 10px; display: inline-block; float: left }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90% }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px }
li { line-height: 18px; margin-bottom: 12px }
ul.large li { line-height: 21px }
li p { line-height: 21px }


/* Images & Thumbnails
================================================== */
figure { width: 100%; }
figcaption { display: block; margin: 5px 0; font-style: italic; font-size: 12px; color: #555; position: relative; }
figcaption:before { content: "Fig."; margin-right: 5px; font-weight: bold }
figcaption:after { content: " "; display: table }
 
figcaption:after { clear: both }
 
figcaption { *zoom: 1 }

img { width: 100% }
.left-text-wrap { width: 50%; margin-right: 20px; float: left }
.right-text-wrap { width: 50%; margin-left: 20px; float: right }
 
.img-circle { border-radius: 50% }

.img-border { border: 5px solid #fff; color: #000; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow:  0 0 3px rgba(0,0,0,.2); }

.thumbnail { width: 103%; margin: 2.5% -1.5%; }
.thumbnail ul.col-3, .thumbnail ul.col-4, 
.thumbnail ol.col-3, .thumbnail ol.col-4 { list-style: none outside }

@media (min-width: 1024px) {
.thumbnail ul.col-3 li, .thumbnail ol.col-3 li { width: 30.333333333%; margin: 0; padding: 1.25% 1.5%; float: left }
.thumbnail ul.col-4 li, .thumbnail ol.col-4 li { width: 22%; padding: 0; padding: 0.5% 1.5%; float: left }

.hidden-lg { display: none; }
}

@media (min-width: 768px) and (max-width: 1024px){
.fig-left-text-wrap, .img-left-text-wrap,
.fig-right-text-wrap, .img-right-text-wrap { width: 100% }
 
.thumbnail ul.col-3 li, .thumbnail ol.col-3 li { width: 47%; margin: 0; padding: 2.5% 1.5%; float: left }
.thumbnail ul.col-4 li, .thumbnail ol.col-4 li { width: 47%; padding: 0; padding: 2.5% 1.5%; float: left }

.hidden-md { display: none; }
}

@media (max-width: 767px) {
.fig-left-text-wrap, .img-left-text-wrap,
.fig-right-text-wrap, .img-right-text-wrap { width: 100% }

.thumbnail ul.col-3 li, .thumbnail ol.col-3 li { width: 97%; margin: 0; padding: 2.5% 1.5%; float: left }
.thumbnail ul.col-4 li, .thumbnail ol.col-4 li { width: 97%; padding: 0; padding: 2.5% 1.5%; float: left }

.hidden-sm { display: none; }
}


/* Table
================================================== */
.table { width: 100%; border-collapse: collapse; margin: 1.618em 0; }
.table.table-bordered { border: 1px solid #c0c0c0; border-radius: 3px; }

tr { border-bottom: 1px solid #c0c0c0; }
tr:last-child { border-bottom: none; }
.table.table-striped tr:nth-of-type(odd) { background: #f0f0f0; }


th { text-align: left; padding: 5px; background: #ffffff; font-weight: 500; border-bottom: 1.618px solid #c0c0c0; }
.table.table-bordered th { border: 1px solid #c0c0c0; }

td { padding: 5px; text-align: left; }
.table.table-bordered td { border: 1px solid #c0c0c0; }

@media (min-width: 1024px) {
.table { font-size: 15px; }
}

@media (min-width: 768px) and (max-width: 1024px) {
.table { font-size: 15px; }
}

@media (max-width: 768px) {
.table { font-size: 13px; }

.table-responsive { max-width: 100%; overflow-x: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
}


/* Navbar
================================================== */
.navbar { width: 90%; padding: 21px 5%; border-bottom: 1px solid #f0f0f0; display: table; background: #ffffff; }
.navbar.navbar-static { position: fixed; z-index: 111; }

.navbar > .navbar-container { display: table-cell; vertical-align: middle; }
.navbar > .navbar-container ul.navbar-list { width: 100%; list-style: none; margin: 0; position: relative; }
.navbar > .navbar-container ul.navbar-list li.navbar-item { margin: 0; padding: 0.48828125% 1.26953125%; position: relative; float: left; }

.navbar > .navbar-container ul.navbar-list li.navbar-item.navbar-header { font-weight: 500; margin-right: 5%; }
.navbar > .navbar-container ul.navbar-list li.navbar-item:last-child { clear: right; }

li.navbar-item a,
li.navbar-item a:visited { color: #a0a0a0; }
li.navbar-item.navbar-header a { color: #000000; }

li.navbar-item a:hover { color: gray; border-bottom: none; }
li.navbar-item.navbar-header a:hover { color: #000000; border-bottom: none; }

li.navbar-item > ul.navbar-dropdown { list-style: none; margin: 5px 0 5px -5px; display: none; position: absolute; }
li.navbar-item:hover > ul.navbar-dropdown { display: block; }

ul.navbar-dropdown { 
z-index: 111;
min-width: 144px; 
font-size: 15px; 
background-clip: padding-box; 
border: 1px solid #ccc; 
border-radius: 0; 
background: #fdfdfd;
}

ul.navbar-dropdown > li { padding: 5px 5px 0 5px; }
ul.navbar-dropdown > li:last-child { padding: 5px; }
ul.navbar-dropdown > li.divider { margin: 5px 0 5px 0; padding: 0; height: 1px; background: #f0f0f0; }

.navbar .navbar-container .sr-only { display: none; float: right; }

@media (max-width: 768px) {
.navbar .pull-right { float: left; clear: right; }

li.navbar-item { clear: both; }
li.navbar-item:first-child { padding-top: 13px; }

.navbar > .navbar-container .sr-only { display: block; float: right; }

.navbar-toggle { display: none;}

.sr-only .close-menu { display: none; }

.navbar:target .navbar-toggle { display: block; }

.navbar:target .open-menu { display: none; }
.navbar:target .close-menu { display: block; }

}


/* Alert & Panel
================================================== */
.alert { padding: 1.618%; margin: 1.618% 0; border-radius: 3px; }
.alert.alert-info{ background: #e8eff3; color: #678fa9; border: 1px solid #c5d7e3; }
.alert.alert-success{ background: #daeee4; color: #358f7f; border: 1px solid #b6dfca; }
.alert.alert-danger{ background: #fdf4f1; color: #d2a596; border: 1px solid #f7cfc4; }

.panel { border: 1px solid #c0c0c0; border-radius: 3px;}
.panel > .panel-head { padding: 1.618%; font-weight: 500; color: #505050; background: #fafafa; border-bottom: 1px solid #c0c0c0; }
.panel > .panel-head { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .panel-body { padding: 1.618%; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}


/* Utilities
================================================== */ 
.ui-full-width { width: 100%; }

.vertical-center-wrapper { display: table; height: 100%; width: 100% }
.vertical-center { display: table-cell; vertical-align: middle; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify }
